//global reset
*{
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px(browser default) = 62.5%

    /* @media only screen and (max-width: $bp-md) {
        font-size: 50%;
    } */
}

/* element styling */
body {
  background: url(../images/backgrounds/blackWhiteFlowers.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.6rem;
}

h4 {
  color: #d4d4d4;
}

img {
  /* filter: invert(1); */
}

label {
  color: #d4d4d4;
}

main {
  /* background: #000; */
  /* filter: invert(1); */
}  

p {
  color: #d4d4d4;
}

/* div styling */
#footer {
  background: #900000;
  bottom: 0;
  /* color: #666666; */
  color: #d4d4d4;
  height: 6rem;
  left: 0;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 100vw;
}

#pic {
  float: left;
  height: 40vh;
  margin-right: 5rem;
  width: 18vw;
}

/* class styling */
.about {
  margin-bottom: 7vh;
}

.blockquote {
  background: #ca8d90;
  text-align: center;
  border: 0;
}

.blockquote-footer {
  background: #d4d4d4;
  margin-left: 25%;
  padding: .5rem;
}

.btn {
  background-color: #900;
  border-color: #900;
  color: #d4d4d4;
  font-size: 1.5rem;

}

.btn:hover {
  background-color: #d4d4d4;
  color: #900;
}

.btn-nav {
  background-color: #d4d4d4;
  border-color: #900;
  color: #900;
  margin-right: 1rem;
}

.btn-nav:hover {
  background-color: #ca8d90;
}


.card-footer {
  align-content: center;
  justify-content: center;
}

.card-img-top {
  height: 20rem;
}

.card-text {
  padding-left: 5%;
}

.card-title {
  text-align: center;
  color: #d4d4d4;
}

.contact {
  width: 100%;
  height: 65vh;
  padding-top: 13vh;
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
      opacity: 1;
      transform: translateX(2rem);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.display-4 {
  color: #900!important;
  animation: moveInLeft 2s ease-in;
  padding-left: 5vh;
  font-size: 5rem;
  vertical-align: middle;
}

.footer-row {
  width: 100%;
}

.form-control {
  margin: 0 0 2rem 0;
  background-color: #e2e2e2;
}

.icon {
  height: 4rem;
  padding: .2rem;
  flex-basis: 25%;
}

.icon-1 {
  margin-left: 70%;
}

.img-fluid {
  float: left;
  height: 17.5rem;
  margin-right: 1.5rem;
  width: 20rem;
}

.jumbotron {
  height: 2rem;
  margin: 6rem 0;
  padding-bottom: 10vh;
  padding-top: 1vh;
  text-align: start;
}

.navbar {
  background-color: #900;
}

.navbar-brand {
  font-size: 3rem;
}

.quote {
  margin: 3rem 0;
}

.quotetext {
  color: #000;
  font-size: 1.6rem;
  padding: 1rem;
}

.profile_data {
  order: 2;
  color: #d4d4d4;
  float: right;
  padding: 0px 1.2rem;
  position: relative;
  max-width: 43vw;
}

.profile_pic {
  order: 1;
}

.projectCard {
  background-image: linear-gradient(to bottom, rgba(220, 133, 132), rgba(144, 0, 0), rgba(220, 133, 132));
  color: #d4d4d4;
  height: 52.5rem;
  margin: 2rem 1rem;
  text-align: left;
  flex-grow: 1;
  flex-basis: 20%;
  opacity: .9;
  box-shadow: .2rem .7rem 1rem rgba(255, 255, 255, .5);
}

.card:hover {
    transform: translateY(-1rem) scale(1.03);
    opacity: 1;
}

.row {
  /* padding: 25px 50px; */
}

.webApps {
  color: #d4d4d4;
  text-align: center;
  margin-top: 2rem;
}

/* Link Styling */
/* unvisited link */
a:link {
  color: #d4d4d4;
}

/* visited link */
a:visited {
  color: #666;
}

/* mouse over link */
a:hover {
  color: #e9ecef;
}

/* selected link */
a:active {
  color: #666666;
}